:root {
  --text-color: 'white';
  --font-family: 'Roboto';
  --font-size: 120px;
  --font-weight: 'bold';
  --margin-top: 140px;
}

html {
  height: 1024px;
  width: 1024px;
}

body {
  height: inherit;
  width: inherit;
}

#forest-code {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: black;
  margin-top: 0.4em;
  margin-left: -0.5em;
}

.forest-container{
  text-align: center;
}

.forest-qr {
  text-align: center;
  visibility: inherit;
}


